/* App */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }
}

/* Header */
.header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

/* Hamburger menu */
.hamburger {
  display: none;
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Navigation menu */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.nav-menu a:hover {
  color: #61dafb;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #282c34;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    transition: all 0.3s ease;
  }

  .nav-menu a {
    margin: 10px;
  }

  .nav-menu.show {
    display: flex;
  }

  .hamburger div {
    margin: 5px auto;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
